.growth-bar {
    height: 100%;
    width: 100%;
    max-width: 520px;
    background-color: #e5e7e3;
    max-height: 60px;
    min-height: 40px;

    .bar-fill {
        width: 100%;
        padding: 5px;
        max-width: 100%;
        height: 100%;
        background-color: #13d377;
        position: relative;
        display: flex;
        align-items: flex-end;

        .percentage {
            color: #a7a7a7;
            position: absolute;
            right: -3rem;
            bottom: 10%;

            &.overflow {
                color: #fcfcfc;
                right: 1rem;
            }
        }
    }
}