.counter-component {
    width: 100%;

    h2 {
        color: #0dcf6e;
        margin: 0;
    }

    .steps {
        .current-steps {
            color: #2e2e2e;
            font-size: 2rem;
            font-weight: bold;
            margin-right: 5px;
        }

        .max-steps {
            color: #5e5e5e;
            font-size: 0.85rem;
            font-weight: 300;
        }
    }
}