.tooltip-input-component {
    form {
        display: flex;
        flex-direction: column;
        position: relative;

        label {
            color: #000;
            font-weight: 700;
            font-size: 1.4rem;
            margin-bottom: 20px;
        }

        .tooltip-input {
            width: 500px;
            height: 50px;
            outline: none;
            border: 1px solid #c5741d;
            background-color: #fff;
            border-radius: 10px;
            color: #000;
            padding: 0 10px;
            font-weight: 500;
            font-size: 1rem;
            box-shadow: 0 0 0 0 rgba(255, 200, 0, 0.608);
            transition: all .3s ease;

            &:active,
            &:focus {
                border-color: #ffcc00;
                box-shadow: 0 0 0 3px rgba(255, 200, 0, 0.608);
            }
        }
    }

    .tooltip-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        max-height: 0;
        width: 500px;
        overflow: hidden;
        border: 1px solid transparent;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
        top: calc(100% + 10px);
        z-index: 10;
        position: absolute;
        transition: max-height 0.3s ease, opacity 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
        opacity: 0;

        &.shown {
            max-height: 178px;
            opacity: 1;
            overflow-y: auto;
            border-color: #ccc;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .tooltip-item {
            padding: 10px;
            cursor: pointer;
            font-size: 1rem;
            color: #000;
            transition: background-color 0.2s ease;
            font-weight: 500;

            .match-highlight {
                color: #6800c3;
            }

            &:hover {
                background-color: #f0f0f0;
            }

            &:last-child {
                border-bottom: none;
            }
        }

    }
}